.title {
    font-size: 48px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.list {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}